@tailwind base;
@tailwind components;
@tailwind utilities;

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  white-space: nowrap;
}

.clip-diagonal {
  clip-path: polygon(0 0, 80% 100%, 0 100%);
}

